Felipe Castillo
http://thinkstats2.com

Assignement week 8

DSC530-T301 Data Exploration and Analysis

In [57]:
from __future__ import print_function, division

%matplotlib inline

import numpy as np

import random
import os
import pdb


os.chdir(r'C:\ExplorartoryDataAnalysis_DSC_530\ThinkStats2\code')
import nsfg
import thinkstats2
import thinkplot
import hypothesis

In [6]:
resp = nsfg.ReadFemResp()

In [52]:
resp.head(20)

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667
5,845,1,5,4,1,5.0,42,42,727,42,...,0,2335.279149,3725.796795,4705.681352,2,18,1234,1222,17:10:13,95.488000
6,10333,5,5,3,1,5.0,17,17,1029,17,...,0,2335.279149,2687.399758,3139.151658,2,18,1236,1224,14:14:38,61.204333
7,855,5,5,4,5,5.0,22,22,965,22,...,0,4670.558298,7122.614751,10019.382170,2,18,1235,1223,14:42:52,59.756333
8,8656,5,5,4,1,5.0,38,38,780,38,...,0,5198.652195,6027.568848,6520.021223,2,18,1237,1225,15:32:34,56.978833
9,3566,5,5,4,5,5.0,21,21,974,21,...,0,2764.142038,3240.986558,4559.095792,2,18,1231,1219,16:22:25,104.744667
10,5917,1,5,3,1,5.0,44,43,714,43,...,0,2418.624283,2762.143030,3488.586646,2,18,1233,1221,15:38:06,96.850167
11,9200,5,5,3,1,5.0,26,26,923,26,...,0,2418.624283,2754.293339,2987.031126,2,18,1237,1225,14:12:31,61.060667
12,6320,5,5,5,5,1.0,23,23,952,23,...,0,5497.225851,6448.332868,7241.477811,1,18,1236,1224,14:27:20,69.906500
13,11700,1,5,4,1,5.0,34,34,822,34,...,0,3362.448309,3677.062170,4666.559600,1,18,1236,1224,11:35:31,77.493333
14,7354,1,5,4,1,5.0,28,28,896,28,...,0,2417.628123,2790.899197,3026.730179,1,18,1235,1223,14:40:18,79.018500
15,3697,5,5,4,5,5.0,28,28,896,28,...,0,9670.512492,18559.585881,31215.367494,1,18,1236,1224,11:59:26,45.963500
16,4881,1,5,5,1,5.0,23,23,948,23,...,0,3292.089359,3935.302679,4419.344908,1,18,1234,1222,20:37:54,110.416833
17,5862,1,5,4,1,5.0,33,33,831,33,...,0,3056.771190,3456.489520,4386.630850,1,18,1234,1222,16:42:13,107.819667
18,8542,5,5,5,5,5.0,16,16,1036,16,...,0,5900.163872,6697.056170,7822.831313,1,18,1237,1225,13:04:36,72.481500
19,2054,1,5,4,5,1.0,24,24,939,24,...,0,2417.628123,2570.384230,2886.541491,1,18,1236,1224,13:58:43,87.417500

In [11]:
class HypothesisTest(object):

    def __init__(self, data):
        self.data = data
        self.MakeModel()
        self.actual = self.TestStatistic(data)

    def PValue(self, iters=1000):
        self.test_stats = [self.TestStatistic(self.RunModel()) 
                           for _ in range(iters)]

        count = sum(1 for x in self.test_stats if x >= self.actual)
        return count / iters

    def TestStatistic(self, data):
        raise UnimplementedMethodException()

    def MakeModel(self):
        pass

    def RunModel(self):
        raise UnimplementedMethodException()

In [9]:
class CorrelationPermute(thinkstats2.HypothesisTest):

    def TestStatistic(self, data):
        xs, ys = data
        test_stat = abs(thinkstats2.Corr(xs, ys))
        return test_stat

    def RunModel(self):
        xs, ys = self.data
        xs = np.random.permutation(xs)
        return xs, ys

In [14]:
class DiffMeansPermute(thinkstats2.HypothesisTest):

    def TestStatistic(self, data):
        group1, group2 = data
        test_stat = abs(group1.mean() - group2.mean())
        return test_stat

    def MakeModel(self):
        group1, group2 = self.data
        self.n, self.m = len(group1), len(group2)
        self.pool = np.hstack((group1, group2))

    def RunModel(self):
        np.random.shuffle(self.pool)
        data = self.pool[:self.n], self.pool[self.n:]
        return data

In [59]:
def RunTest(df, iters=1000):
    
    


    n = len(df)
    
    df_resp = resp.dropna(subset=['age_a','finalwgt'])
    
   
    # testing correlation
   

    data  = df_resp.age_a.values , df_resp.finalwgt.values 

    ht = CorrelationPermute(data)

    p1 = ht.PValue(iters=iters)
   
    #pdb.set_trace(p1)

    
    # testing differences
 
    data  = df_resp.age_a.values , df_resp.finalwgt.values 

    ht = DiffMeansPermute(data)

    p2 = ht.PValue(iters=iters)



    print('%d\t%0.2f\t%0.2f' % (n,p1, p2))

In [ ]:

n = len(resp)
for _ in range(7):
    sample = thinkstats2.SampleRows(resp, n)
    RunTest(sample)
    n //= 2

In [ ]:
#Overall the data staty consitant meaning that the values came back 0 for most of the data. The values tested where probably the wrong ones to test with.

# 10-1

In [23]:
def FitLine(xs, inter, slope):
    fit_xs = np.sort(xs)
    fit_ys = inter + slope * fit_xs
    return fit_xs, fit_ys

In [55]:
def Summarize(estimates, actual=None):
    mean = Mean(estimates)
    stderr = Std(estimates, mu=actual)
    cdf = thinkstats2.Cdf(estimates)
    ci = cdf.ConfidenceInterval(90)
    print('mean, SE, CI', mean, stderr, ci)

In [2]:
from thinkstats2 import Mean, MeanVar, Var, Std, Cov

def LeastSquares(xs, ys):
    meanx, varx = MeanVar(xs)
    meany = Mean(ys)

    slope = Cov(xs, ys, meanx, meany) / varx
    inter = meany - slope * meanx

    return inter, slope

In [3]:
import brfss

df = brfss.ReadBrfss(nrows=None)
df = df.dropna(subset=['htm3', 'wtkg2'])
heights, weights = df.htm3, df.wtkg2
log_weights = np.log10(weights)

In [51]:
df.head()

    age  sex     wtyrago      finalwt   wtkg2   htm3
0  82.0    2   76.363636   185.870345   70.91  157.0
1  65.0    2   72.727273   126.603027   72.73  163.0
3  61.0    1   73.636364   517.926275   73.64  170.0
4  26.0    1   88.636364  1252.624630   88.64  185.0
5  42.0    1  118.181818   415.161314  109.09  183.0

In [53]:
ages =  df.age
total_weight = df.finalwt

In [13]:
interecpe, slope = LeastSquares(heights, log_weights)
interecpe, slope

(0.9930804163918123, 0.005281454169417808)

In [15]:
inter2, slope2 = LeastSquares(heights, weights)
inter2 , slope2

(-82.65926054408632, 0.9570745850332338)

In [47]:
fit_xs, fit_ys = FitLine(weights, interecpe, slope)
fit_xs2, fit_ys2 = FitLine(log_weights , inter2, slope2)

It would be pretty difficult to get the exact height using the log. 
When using normal weight you get a interecpe of .99 verse the log version of it which is -82.65.

In [61]:
def ResampleRowsWeighted(df, column='finalwgt'):
    weights = df['finalwt']
    cdf = thinkstats2.Cdf(dict(weights))
    indices = cdf.Sample(len(weights))
    sample = df.loc[indices]
    return sample

iters = 100
estimates = [ResampleRowsWeighted(df).htm3.mean()
             for _ in range(iters)]
Summarize(estimates)

mean, SE, CI 170.49409997170514 0.0164888182595831 (170.46682683562724, 170.51874785262436)